.frame {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #000000;
    padding: 4px 8px 0 8px;
    max-height: 100px;
}

.line {
    margin: 4px 0 4px 0;
    border-bottom: solid 1px;
}

.number {
    font-size: 18px;
    font-weight: 600;
}

.description {
    margin: 0 6px;
}

.sun {
    display: flex;
    align-items: center;
    justify-content: space-between;
}