.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 12px solid #f7f7f7;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  29px 29px 36px #dbdbdb,
               -29px -29px 36px #ffffff;
}

.numberBig {
  font-size: 92px;
  color: #535353;
}

.deg {
  position: absolute;
}

.city {
  font-size: 24px;
  font-weight: 500;
}

.dayNumber {
  font-style: italic;
}

.icon {
  padding: 12px 0 0 0;
}