.search {
    display: flex;
    margin-bottom: 20px;
}

.button {
    border: solid 1px;
    border-radius: 4px;
    background-color: #ffffff;
    transition: 0.4s ease-in-out;
}

.searchIcon {
    padding-top: 2px;
}
  
.button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 4px #000000;
}
  
.input {
    border: 0;
    border-bottom: 1px solid;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    outline: none;
    width: 200px;
    margin-right: 5px;
}

.container {
}

.cardLoaction {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 5px;

}

.city, .countryCode, .countryName {
    font-size: 22px;
    color: #535353;
    margin-right: 5px;
}

.countryName, .countryCode, .latitude, .longitude {
    color: #53535379;
}

.boxLocation {
    border-bottom: 1px solid #53535344;
    width: 400px;
}
